<h2>
  <strong>Title:</strong>
  <%= @blog.title %>
</h2>

<p>
  <%= @blog.topic.title %>
</p>

<p>
  <strong>Body:</strong>
  <%= @blog.body %>
</p>

<%= link_to '✎ Edit Post', edit_blog_path(@blog), class: "btn btn-success" if logged_in?(:site_admin) %>

<%= render 'comments/comment_form' %>

<!-- Start of comments -->
<div id="comments" data-blog-id="<%= @blog.id %>">
  <%= render @blog.comments %>
</div>
<!-- End of comments -->
<br>
<%= link_to '◀︎ Back', blogs_path, class: "btn btn-warning" %>
