<main role="main" class="inner cover">
  <div id="text-highlight">
    <h1 class="cover-heading"><span class="element"></span> <span class="highlight-name">Matthew Israelson</span>. I'm a <span class="alpha">full-stack</span> web developer.</h1>
      <!-- <a href="<%= about_me_path %>" class="btn btn-lg btn-secondary">Learn more</a> -->
    <div class="gradient-button-container">
      <%= link_to "View my work", portfolios_path, class: "hoverbutton gradient-button" %>
    </div>
    <!-- </p> -->
  </div>
</main>

<%= render "about_me" %>

<%= render "skills" %>

<%= render "tweets" %>

<%= render "sortable_blocks" %>

<!-- <%= render partial: 'pages/sortable_blocks', collection: @portfolio_items %> -->
