<h1>Hi! <%= current_user.first_name %> </h1>
<p>Find me in app/views/pages/home.html.erb</p>

<h1>Skills</h1>
<%= @skills.inspect %>

<hr>

<%= sample_helper %>

<%= content_tag :h1, class: "my-special-class" do %>
Hi Im in a heading tag bitch
<% end  %>

<!-- <p> <%= current_user.class %> </p> -->
